<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skywalker.wms.dao.WmsWareSkuMapper">

    <select id="getSkuHasStock" resultType="com.skywalker.wms.vo.HasStockVo">
        SELECT sku_id as skuId, SUM(stock - stock_locked) as hasStock
        FROM wms_ware_sku
        WHERE sku_id IN
        <foreach collection="skuIds" item="item" index="index" open="(" separator="," close=")" >
            #{item}
        </foreach>
        GROUP BY sku_id
    </select>
</mapper>